We see that there are many missing values and they can be taken from the internet. I can proceed in that direction.

In [1]:
import pandas as pd
import numpy as np
import mysql.connector

In [2]:
df_netflix_movie_data = pd.read_csv('./Datasets/netflix_titles.csv', lineterminator = '\n')
df_prime_movie_data = pd.read_csv('./Datasets/amazon_prime_titles.csv', lineterminator = '\n')
df_disney_plus_movie_data = pd.read_csv('./Datasets/disney_plus_titles.csv', lineterminator = '\n')
df_hulu_movie_data = pd.read_csv('./Datasets/hulu_titles.csv', lineterminator = '\n')

In [ ]:
display(df_netflix_movie_data)

In [ ]:
missing_value_netflix = df_netflix_movie_data.isna().sum()
print(missing_value_netflix)

In [ ]:
print("Number of records in Netflix DataFrame:", df_netflix_movie_data.shape[0])

In [ ]:
missing_value_prime = df_prime_movie_data.isna().sum()
print(missing_value_prime)

In [ ]:
print("Number of records in Prime Video DataFrame:", df_prime_movie_data.shape[0])

In [ ]:
missing_value_disney_plus = df_disney_plus_movie_data.isna().sum()
print(missing_value_disney_plus)

In [ ]:
print("Number of records in Disney Plus DataFrame:", df_disney_plus_movie_data.shape[0])

In [ ]:
missing_value_hulu = df_hulu_movie_data.isna().sum()
print(missing_value_hulu)

In [ ]:
print("Number of records in Hulu DataFrame:", df_hulu_movie_data.shape[0])

As we can see clearly, above only columns director, cast, country, date_added, rating, duration. Rather than deleting them. If we can get those values back in the dataset it would be best.
I can use information present on the website imdb to get the data and fill it. I can use web scrapping to get the data and fill it in the dataset.

But before that I can check data. One dataset row may have data of the for the other dataset missing row values. Let's first check for the

In [ ]:
print("Netflix DataFrame Column Data Types:")
print(df_netflix_movie_data.dtypes)

In [ ]:
print("\nPrime Video DataFrame Column Data Types:")
print(df_prime_movie_data.dtypes)

In [ ]:

print("\nDisney Plus DataFrame Column Data Types:")
print(df_disney_plus_movie_data.dtypes)

In [ ]:
print("\nHulu DataFrame Column Data Types:")
print(df_hulu_movie_data.dtypes)

Okay I will be first converting the datatypes of the columns of the dataframes according to the requirement and then after that I will be tranferring data to the SQL. Through this I can ensure that there is no error while tranferring the data.

Why I want to transfer the data to SQL?
I currently want to fill the missing values of the columns director, cast, country, date_added, rating and duration in all datasets. But there are chances that missing value of 1 dataset might be present in another dataset. So for doing that in optimized manner I am using the SQL. 
Other approaches:

- I can loop through datasets to find values. But this approach will take most time as there are 4 datasets and time taken will get to O($n^4$). This approach is not great.
- I can use Hash tables for this but it will be take most of the memory for it. It would be better to go for Database as I would be taking it's help for data wrangling also.

In [3]:
dataframes = [df_netflix_movie_data, df_prime_movie_data, df_disney_plus_movie_data, df_hulu_movie_data]

In [4]:
# Add 'Platform' column to each DataFrame
df_netflix_movie_data["Platform"] = "Netflix"
df_prime_movie_data["Platform"] = "Prime"
df_disney_plus_movie_data["Platform"] = "Disney"
df_hulu_movie_data["Platform"] = "Hulu"

# Optional: Combine all into one DataFrame if needed later
dataframes = [df_netflix_movie_data, df_prime_movie_data, df_disney_plus_movie_data, df_hulu_movie_data]

In [5]:
# Combine all datasets
df_combined = pd.concat(dataframes, ignore_index=True)

In [6]:
display(df_combined)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Platform
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Netflix
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Netflix
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",Netflix
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,Netflix
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,s3069,TV Show,Star Trek: The Original Series,NaN,NaN,United States,NaN,1966,TV-PG,3 Seasons,"Action, Adventure, Classics",The 23rd century adventures of Captain James T...,Hulu
22994,s3070,TV Show,Star Trek: Voyager,NaN,NaN,United States,NaN,1997,TV-PG,7 Seasons,"Action, Adventure, Science Fiction",Catapulted into the distant sector of the gala...,Hulu
22995,s3071,TV Show,The Fades,NaN,NaN,United Kingdom,NaN,2011,TV-14,1 Season,"Horror, International, Science Fiction",Seventeen-year-old Paul is haunted by apocalyp...,Hulu
22996,s3072,TV Show,The Twilight Zone,NaN,NaN,United States,NaN,1959,TV-PG,5 Seasons,"Classics, Science Fiction, Thriller",Rod Serling's seminal anthology series focused...,Hulu
22997,s3073,TV Show,Tokyo Magnitude 8.0,NaN,NaN,Japan,NaN,2009,TV-14,1 Season,"Anime, Drama, International",The devastation is unleashed in the span of se...,Hulu

In [7]:
# 1. Select one row where any value is null
row_with_any_null = df_combined[df_combined.isnull().any(axis=1)].head(1)

In [8]:
display(row_with_any_null)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Platform
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix

In [9]:
# 2. Select one row where specific columns are null
row_with_all_specific_null = df_combined[
    df_combined[['director', 'cast', 'country', 'date_added', 'rating', 'duration', 'description']].isnull().all(axis=1)
].head(1)

In [9]:
display(row_with_all_specific_null)

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [10]:
# 3. Select rows where only one column at a time is null
rows_with_one_null = []
columns_to_check = ['director', 'cast', 'country', 'date_added', 'rating', 'duration', 'description']

for col in columns_to_check:
    row = df_combined[df_combined[col].isnull() & df_combined.drop(columns=[col]).notnull().all(axis=1)].head(1)
    rows_with_one_null.append(row)

# Combine all selected rows into a new DataFrame
df_missing_data_check = pd.concat([row_with_any_null, row_with_all_specific_null] + rows_with_one_null, ignore_index=True)

In [11]:
# Display the resulting DataFrame
display(df_missing_data_check)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Platform
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Netflix
2,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix
3,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Netflix
4,s108,Movie,Whoop!,Kreeti Gogia,Abish Mathew,India,NaN,2018,18+,64 min,"Arts, Entertainment, and Culture",Abish Mathew is the world's greatest stand-up ...,Prime
5,s7538,Movie,My Honor Was Loyalty,Alessandro Pepe,"Leone Frisa, Paolo Vaccarino, Francesco Miglio...",Italy,"March 1, 2017",2015,NaN,115 min,Dramas,"Amid the chaos and horror of World War II, a c...",Netflix
6,s5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,74 min,NaN,Movies,"Louis C.K. muses on religion, eternal love, gi...",Netflix

In [14]:
df_missing_data_check.describe

<bound method NDFrame.describe of   show_id     type                 title         director  \
0      s1    Movie  Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show         Blood & Water              NaN
2      s1    Movie  Dick Johnson Is Dead  Kirsten Johnson
3      s3  TV Show             Ganglands  Julien Leclercq
4    s108    Movie                Whoop!     Kreeti Gogia
5   s7538    Movie  My Honor Was Loyalty  Alessandro Pepe
6   s5542    Movie       Louis C.K. 2017       Louis C.K.

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2                                                NaN  United States
3  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
4                                       Abish Mathew          India
5  Leone Frisa, Paolo Vaccarino, Francesco Miglio...          Italy
6                                         Louis C.K.  United States

           date_added  release_year  rating   duration  \
0  September 25, 2021          2020   PG-13     90 min
1  September 24, 2021          2021   TV-MA  2 Seasons
2  September 25, 2021          2020   PG-13     90 min
3  September 24, 2021          2021   TV-MA   1 Season
4                 NaN          2018     18+     64 min
5       March 1, 2017          2015     NaN    115 min
6       April 4, 2017          2017  74 min        NaN

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2                                      Documentaries
3  Crime TV Shows, International TV Shows, TV Act...
4                   Arts, Entertainment, and Culture
5                                             Dramas
6                                             Movies

                                         description Platform
0  As her father nears the end of his life, filmm...  Netflix
1  After crossing paths at a party, a Cape Town t...  Netflix
2  As her father nears the end of his life, filmm...  Netflix
3  To protect his family from a powerful drug lor...  Netflix
4  Abish Mathew is the world's greatest stand-up ...    Prime
5  Amid the chaos and horror of World War II, a c...  Netflix
6  Louis C.K. muses on religion, eternal love, gi...  Netflix  >

In [15]:
# Ensure country column contains only one country per movie
for df in dataframes:
    if 'country' in df.columns:
        df['country'] = df['country'].astype(str).apply(lambda x: x.split(',')[0].strip() if pd.notnull(x) else x)

print("[INFO] Updated country column to keep only the first country for each movie.")

[INFO] Updated country column to keep only the first country for each movie.

In [18]:
for df in dataframes:
    df["show_id"] = df["show_id"].astype("string")  # Explicit string type
    df["type"] = df["type"].astype("string")
    df["title"] = df["title"].astype("string")
    df["director"] = df["director"].astype("string")
    df["cast"] = df["cast"].astype("string")  # Convert float64 to string
    df["country"] = df["country"].astype("string")
    df["date_added"] = pd.to_datetime(df["date_added"], errors="coerce")  # Convert to Date
    df["release_year"] = df["release_year"].astype("Int64")  # Explicitly use Int64
    df["rating"] = df["rating"].astype("string")
    df["duration"] = df["duration"].astype("string")
    df["listed_in"] = df["listed_in"].astype("string")
    df["description"] = df["description"].astype("string")
    df["Platform"] = df["Platform"].astype("string")

In [19]:
# Verify Data Types
total_num_of_rows = 0
for i, df in enumerate(dataframes, start=1):
    total_num_of_rows += len(df)
    print(f"\nData Types for DataFrame {i}:\n", df.dtypes)

print(f"\n Total number of rows:{total_num_of_rows}")

Data Types for DataFrame 1:
 show_id         string[python]
type            string[python]
title           string[python]
director        string[python]
cast            string[python]
country         string[python]
date_added      datetime64[ns]
release_year             Int64
rating          string[python]
duration        string[python]
listed_in       string[python]
description     string[python]
Platform        string[python]
dtype: object

Data Types for DataFrame 2:
 show_id         string[python]
type            string[python]
title           string[python]
director        string[python]
cast            string[python]
country         string[python]
date_added      datetime64[ns]
release_year             Int64
rating          string[python]
duration        string[python]
listed_in       string[python]
description     string[python]
Platform        string[python]
dtype: object

Data Types for DataFrame 3:
 show_id         string[python]
type            string[python]
title           string[python]
director        string[python]
cast            string[python]
country         string[python]
date_added      datetime64[ns]
release_year             Int64
rating          string[python]
duration        string[python]
listed_in       string[python]
description     string[python]
Platform        string[python]
dtype: object

Data Types for DataFrame 4:
 show_id         string[python]
type            string[python]
title           string[python]
director        string[python]
cast            string[python]
country         string[python]
date_added      datetime64[ns]
release_year             Int64
rating          string[python]
duration        string[python]
listed_in       string[python]
description     string[python]
Platform        string[python]
dtype: object

 Total number of rows:22998

In [20]:
len(dataframes)

4

In [21]:
display(dataframes[0])

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Platform
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,<NA>,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix
1,s2,TV Show,Blood & Water,<NA>,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Netflix
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",nan,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Netflix
3,s4,TV Show,Jailbirds New Orleans,<NA>,<NA>,nan,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",Netflix
4,s5,TV Show,Kota Factory,<NA>,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,Netflix
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,2019-11-20,2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",Netflix
8803,s8804,TV Show,Zombie Dumb,<NA>,<NA>,nan,2019-07-01,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",Netflix
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,Netflix
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",Netflix
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,Netflix

In [22]:
conn = mysql.connector.connect(
    host="127.0.0.1",
    user="Himanshu",
    password="12345",
)
cursor = conn.cursor()

In [23]:
cursor.execute("USE movies_db")  # Switch to a different DB
cursor.execute("DROP DATABASE IF EXISTS movies_db")
conn.commit()

In [24]:
cursor.execute("CREATE DATABASE IF NOT EXISTS movies_db;")
cursor.close()
conn.close()

In [25]:
conn = mysql.connector.connect(
    host="127.0.0.1",
    user="Himanshu",
    password="12345",
    database="movies_db"
)
cursor = conn.cursor()

In [26]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS movies_data (
        show_id VARCHAR(255),
        type VARCHAR(50),
        title VARCHAR(500),
        director VARCHAR(300),
        cast VARCHAR(2000),
        country VARCHAR(100),
        date_added DATE,
        release_year YEAR,
        rating VARCHAR(50),
        duration VARCHAR(100),
        listed_in VARCHAR(300),
        description TEXT,
        Platform VARCHAR(50),
        PRIMARY KEY (title, release_year)
    )
""")

Okay so the database has been created. But I have to make sure that all the data goes properly inside the database.

In [ ]:
# List to store failed insertions
failed_insertions = []

# Define table name
table_name = "movies_data"

# Iterate through each DataFrame in the list
for df in dataframes:
    print(f"[INFO] Processing DataFrame with {len(df)} rows.")

    # Iterate through the DataFrame for insertion
    for index, row in df.iterrows():
        try:
            # Convert NaN to None for SQL compatibility
            values = [None if pd.isna(row[col]) else row[col] for col in df.columns]
            
            # Construct INSERT query dynamically
            columns_str = ", ".join(df.columns)
            placeholders = ", ".join(["%s"] * len(df.columns))
            insert_query = f"INSERT INTO {table_name} ({columns_str}) VALUES ({placeholders})"

            # Log data before insertion
            print(f"[INFO] Inserting data: {values}")

            # Execute insertion
            cursor.execute(insert_query, tuple(values))
            conn.commit()
            print("[SUCCESS] Data inserted successfully!")

            # Fetch inserted data to validate
            primary_keys = ["title", "release_year"]
            where_clause = " AND ".join([f"{pk} = %s" for pk in primary_keys])
            select_query = f"SELECT * FROM {table_name} WHERE {where_clause}"

            cursor.execute(select_query, tuple(row[pk] for pk in primary_keys))
            db_record = cursor.fetchone()

            # If no matching record found, log missing data
            if not db_record:
                print(f"[ERROR] Data missing from DB after insertion: {row[primary_keys].to_dict()}")
                failed_insertions.append({**row.to_dict(), "error": "Data missing after insertion"})
                continue

            # Compare column values
            db_dict = dict(zip(df.columns, db_record))
            for col in df.columns:
                df_value = str(row[col]).strip() if pd.notna(row[col]) else None
                db_value = str(db_dict[col]).strip() if db_dict[col] is not None else None

                if df_value != db_value:
                    print(f"[WARNING] Mismatch found in column '{col}': DF='{df_value}', DB='{db_value}'")
                    failed_insertions.append({**row.to_dict(), "error": f"Mismatch in column '{col}'"})

        except Exception as e:
            print(f"[ERROR] Failed to insert data: {row.to_dict()}\nReason: {str(e)}")
            failed_insertions.append({**row.to_dict(), "error": str(e)})
            conn.rollback()  # Rollback on failure

# Convert failed insertions into DataFrame
df_failed_inserts = pd.DataFrame(failed_insertions)

# Print summary
print(f"[INFO] Data insertion complete. Total failed insertions: {len(df_failed_inserts)}")

In [28]:
# Convert failed insertions into DataFrame
df_failed_inserts = pd.DataFrame(failed_insertions)

# Print summary
print(f"[INFO] Data insertion complete. Total failed insertions: {len(df_failed_inserts)}")

[INFO] Data insertion complete. Total failed insertions: 13560

In [29]:
display(df_failed_inserts)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Platform,error
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix,Mismatch in column 'date_added'
1,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Netflix,Mismatch in column 'date_added'
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",nan,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Netflix,Mismatch in column 'date_added'
3,s4,TV Show,Jailbirds New Orleans,None,None,nan,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",Netflix,Mismatch in column 'date_added'
4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,Netflix,Mismatch in column 'date_added'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13555,s3042,TV Show,Black Blood Brothers,None,None,Japan,2009-02-10,2006,TV-MA,1 Season,"Action, Adventure, Anime",It’s been a decade since the sacred war betwee...,Hulu,Mismatch in column 'date_added'
13556,s3043,TV Show,"Doogie Howser, M.D.",None,None,United States,2008-07-01,1989,TV-PG,4 Seasons,"Comedy, Drama, Family",Douglas Howser is a doctor. He is also a 16-ye...,Hulu,Mismatch in column 'date_added'
13557,s3044,TV Show,Lost in Space,None,None,United States,2008-06-01,1965,TV-G,3 Seasons,"Action, Adventure, Classics","Created by legendary producer Irwin Allen (""Th...",Hulu,Mismatch in column 'date_added'
13558,s3045,TV Show,Hikaru no Go,None,None,Japan,2006-07-14,2006,TV-14,1 Season,"Anime, International, Science Fiction",Hikaru Shindo is like any sixth-grader in Japa...,Hulu,Mismatch in column 'date_added'
13559,s3071,TV Show,The Fades,None,None,United Kingdom,NaT,2011,TV-14,1 Season,"Horror, International, Science Fiction",Seventeen-year-old Paul is haunted by apocalyp...,Hulu,1062 (23000): Duplicate entry 'The Fades-2011'...

In [30]:
# 1. Compute Total Rows Before Insertion
total_num_of_rows_in_df = (
    len(df_netflix_movie_data) + 
    len(df_prime_movie_data) + 
    len(df_disney_plus_movie_data) + 
    len(df_hulu_movie_data)
)

# 2. Remove Duplicate Rows That Failed to Insert
total_num_of_rows_expected_in_db = total_num_of_rows_in_df - len(df_failed_inserts)

cursor.execute("SELECT COUNT(*) FROM movies_data;")
total_num_of_rows_in_db = cursor.fetchone()[0]

# 4. Validate Data Transfer
if total_num_of_rows_expected_in_db == total_num_of_rows_in_db:
    print("[SUCCESS] No data loss!")
else:
    print("[WARNING] Data loss detected!")
    print(f"Expected in DB: {total_num_of_rows_expected_in_db}, Found in DB: {total_num_of_rows_in_db}")

[WARNING] Data loss detected!
Expected in DB: 9438, Found in DB: 22561

In [ ]:
cursor = conn.cursor()

# Function to update the database with missing values filled
def update_missing_values(row):
    try:
        # Extract the row data from the database using Title and Release Year
        cursor.execute("""
            SELECT * FROM movies_data WHERE title = %s AND release_year = %s
        """, (row["title"], row["release_year"]))
        
        db_row = cursor.fetchone()

        if db_row:
            # Convert fetched row into a dictionary
            columns = ["show_id", "type", "title", "director", "cast", "country", 
                       "date_added", "release_year", "rating", "duration", 
                       "listed_in", "description"]
            db_data = dict(zip(columns, db_row))

            # Compare each element and fill missing values
            updated_data = {}
            for col in columns:
                if pd.isna(row[col]) or row[col] is None:
                    updated_data[col] = db_data[col]  # Fill missing value from DB
                else:
                    updated_data[col] = row[col]  # Keep the original value if not missing
            
            # If any values were updated, modify the database
            update_query = """
                UPDATE movies_data
                SET show_id = %s, type = %s, director = %s, cast = %s, country = %s, 
                    date_added = %s, rating = %s, duration = %s, listed_in = %s, 
                    description = %s
                WHERE title = %s AND release_year = %s
            """
            cursor.execute(update_query, (
                updated_data["show_id"], updated_data["type"], updated_data["director"], 
                updated_data["cast"], updated_data["country"], updated_data["date_added"], 
                updated_data["rating"], updated_data["duration"], updated_data["listed_in"], 
                updated_data["description"], updated_data["title"], updated_data["release_year"]
            ))
            conn.commit()
            print(f"Updated missing values for: {row['title']} ({row['release_year']})")
        else:
            print(f"No matching record found in database for: {row['title']} ({row['release_year']})")

    except mysql.connector.Error as err:
        print(f"Error updating {row['title']} ({row['release_year']}): {err}")

# Loop through each row in the dataframe and process
for _, row in df_failed_inserts.iterrows():
    update_missing_values(row)

print("Data processing complete.")

In [ ]:
# List to store records with mismatched data
mismatch_data = []

# Get the list of columns in df_missing_data_check (excluding primary keys)
columns_to_check = list(df_missing_data_check.columns)
columns_to_check.remove("title")
columns_to_check.remove("release_year")

# Iterate through df_missing_data_check to verify each record
for index, row in df_missing_data_check.iterrows():
    title = row["title"]
    release_year = row["release_year"]

    # Query to fetch the corresponding row from the database
    query = f"""
    SELECT {', '.join(columns_to_check)} FROM movies_data
    WHERE title = %s AND release_year = %s;
    """
    
    cursor.execute(query, (title, release_year))
    result = cursor.fetchone()

    # If no matching record found, log as missing
    if not result:
        mismatch_data.append({
            "title": title,
            "release_year": release_year,
            "column": "ALL",
            "df_value": "Exists in DF",
            "db_value": "Missing in DB"
        })
        continue

    # Compare each column value
    db_row = dict(zip(columns_to_check, result))
    for col in columns_to_check:
        df_value = str(row[col]).strip() if pd.notna(row[col]) else None
        db_value = str(db_row[col]).strip() if db_row[col] is not None else None

        if df_value != db_value:
            mismatch_data.append({
                "title": title,
                "release_year": release_year,
                "column": col,
                "df_value": row[col],
                "db_value": db_row[col]
            })

# Convert mismatched records to a DataFrame
df_mismatched_data = pd.DataFrame(mismatch_data, columns=["title", "release_year", "column", "df_value", "db_value"])

# Display results
if df_mismatched_data.empty:
    print("[SUCCESS] All records in df_missing_data_check match exactly in the database.")
else:
    print("[WARNING] Some records in df_missing_data_check do not match the database!")
    display(df_mismatched_data)