We see that there are many missing values and they can be taken from the internet. I can proceed in that direction.

In [1]:
import pandas as pd
import numpy as np
import mysql.connector

In [2]:
df_netflix_movie_data = pd.read_csv('./Datasets/netflix_titles.csv', lineterminator = '\n')
df_prime_movie_data = pd.read_csv('./Datasets/amazon_prime_titles.csv', lineterminator = '\n')
df_disney_plus_movie_data = pd.read_csv('./Datasets/disney_plus_titles.csv', lineterminator = '\n')
df_hulu_movie_data = pd.read_csv('./Datasets/hulu_titles.csv', lineterminator = '\n')

In [14]:
display(df_netflix_movie_data)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,<NA>,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,<NA>,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",<NA>,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,<NA>,<NA>,<NA>,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,<NA>,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,2019-11-20,2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,<NA>,<NA>,<NA>,2019-07-01,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [ ]:
missing_value_netflix = df_netflix_movie_data.isna().sum()
print(missing_value_netflix)

In [ ]:
print("Number of records in Netflix DataFrame:", df_netflix_movie_data.shape[0])

In [ ]:
missing_value_prime = df_prime_movie_data.isna().sum()
print(missing_value_prime)

In [ ]:
print("Number of records in Prime Video DataFrame:", df_prime_movie_data.shape[0])

In [ ]:
missing_value_disney_plus = df_disney_plus_movie_data.isna().sum()
print(missing_value_disney_plus)

In [ ]:
print("Number of records in Disney Plus DataFrame:", df_disney_plus_movie_data.shape[0])

In [ ]:
missing_value_hulu = df_hulu_movie_data.isna().sum()
print(missing_value_hulu)

In [ ]:
print("Number of records in Hulu DataFrame:", df_hulu_movie_data.shape[0])

As we can see clearly, above only columns director, cast, country, date_added, rating, duration. Rather than deleting them. If we can get those values back in the dataset it would be best.
I can use information present on the website imdb to get the data and fill it. I can use web scrapping to get the data and fill it in the dataset.

But before that I can check data. One dataset row may have data of the for the other dataset missing row values. Let's first check for the

In [ ]:
print("Netflix DataFrame Column Data Types:")
print(df_netflix_movie_data.dtypes)

In [ ]:
print("\nPrime Video DataFrame Column Data Types:")
print(df_prime_movie_data.dtypes)

In [ ]:

print("\nDisney Plus DataFrame Column Data Types:")
print(df_disney_plus_movie_data.dtypes)

In [ ]:
print("\nHulu DataFrame Column Data Types:")
print(df_hulu_movie_data.dtypes)

Okay I will be first converting the datatypes of the columns of the dataframes according to the requirement and then after that I will be tranferring data to the SQL. Through this I can ensure that there is no error while tranferring the data.

Why I want to transfer the data to SQL?
I currently want to fill the missing values of the columns director, cast, country, date_added, rating and duration in all datasets. But there are chances that missing value of 1 dataset might be present in another dataset. So for doing that in optimized manner I am using the SQL. 
Other approaches:

- I can loop through datasets to find values. But this approach will take most time as there are 4 datasets and time taken will get to O($n^4$). This approach is not great.
- I can use Hash tables for this but it will be take most of the memory for it. It would be better to go for Database as I would be taking it's help for data wrangling also.

In [3]:
dataframes = [df_netflix_movie_data, df_prime_movie_data, df_disney_plus_movie_data, df_hulu_movie_data]

In [4]:
for df in dataframes:
    df["show_id"] = df["show_id"].astype("string")  # Explicit string type
    df["type"] = df["type"].astype("string")
    df["title"] = df["title"].astype("string")
    df["director"] = df["director"].astype("string")
    df["cast"] = df["cast"].astype("string")  # Convert float64 to string
    df["country"] = df["country"].astype("string")
    df["date_added"] = pd.to_datetime(df["date_added"], errors="coerce")  # Convert to Date
    df["release_year"] = df["release_year"].astype("Int64")  # Explicitly use Int64
    df["rating"] = df["rating"].astype("string")
    df["duration"] = df["duration"].astype("string")
    df["listed_in"] = df["listed_in"].astype("string")
    df["description"] = df["description"].astype("string")

In [ ]:
# Verify Data Types
for i, df in enumerate(dataframes, start=1):
    print(f"\nData Types for DataFrame {i}:\n", df.dtypes)

In [6]:
conn = mysql.connector.connect(
    host="127.0.0.1",
    user="Himanshu",
    password="Hustling@2000",
)
cursor = conn.cursor()

In [7]:
cursor.execute("DROP DATABASE IF EXISTS movies_db")
conn.commit()

In [8]:
cursor.execute("CREATE DATABASE IF NOT EXISTS movies_db;")
cursor.close()
conn.close()

In [9]:
conn = mysql.connector.connect(
    host="localhost",
    user="Himanshu",
    password="Hustling@2000",
    database="movies_db"
)
cursor = conn.cursor()

In [10]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS movies_data (
        show_id VARCHAR(255),
        type VARCHAR(50),
        title VARCHAR(500),
        director VARCHAR(300),
        cast VARCHAR(2000),
        country VARCHAR(100),
        date_added DATE,
        release_year YEAR,
        rating VARCHAR(50),
        duration VARCHAR(100),
        listed_in VARCHAR(300),
        description TEXT,
        PRIMARY KEY (title, release_year)
    )
""")

Okay so the database has been created. But I have to make sure that all the data goes properly inside the database.

In [11]:
# Initialize failed_inserts as an empty DataFrame with correct columns
df_failed_inserts = pd.DataFrame(columns=df.columns)

# Assuming you have already established a connection and cursor
cursor = conn.cursor()

# Insert each row, perform verification, and handle errors
for _, row in df.iterrows():
    try:
        # Convert NaN values to None, which can be handled by MySQL
        row = row.where(pd.notna(row), None)

        # Log the row that is about to be inserted
        print(f"\nInserting row with title: {row['title']} and release_year: {row['release_year']}")

        # Insert data into the database
        insert_query = """
            INSERT INTO movies_data 
            (show_id, type, title, director, cast, country, date_added, release_year, 
             rating, duration, listed_in, description)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """
        cursor.execute(insert_query, (
            row["show_id"], row["type"], row["title"], row["director"],
            row["cast"], row["country"], row["date_added"], row["release_year"],
            row["rating"], row["duration"], row["listed_in"], row["description"]
        ))
        conn.commit()  # Commit the transaction

        # Log success
        print(f"Data for '{row['title']}' inserted successfully.")

    except mysql.connector.Error as err:
        # Log the error
        print(f"\nError occurred while inserting data: {err}")
        print(f"Row causing the error: \n{row.to_frame().T}")  # Print row in tabular format

        # Append failed row properly to df_failed_inserts
        df_failed_inserts = pd.concat([df_failed_inserts, row.to_frame().T], ignore_index=True)

# Print failed insertions, if any
if not df_failed_inserts.empty:
    print("\nFailed Insertions due to duplicates or errors: ")
    print(df_failed_inserts)
else:
    print("\nAll rows inserted successfully without errors.")

Inserting row with title: Ricky Velez: Here's Everything and release_year: 2021
Data for 'Ricky Velez: Here's Everything' inserted successfully.

Inserting row with title: Silent Night and release_year: 2020
Data for 'Silent Night' inserted successfully.

Inserting row with title: The Marksman and release_year: 2021
Data for 'The Marksman' inserted successfully.

Inserting row with title: Gaia and release_year: 2021
Data for 'Gaia' inserted successfully.

Inserting row with title: Settlers and release_year: 2021
Data for 'Settlers' inserted successfully.

Inserting row with title: The Halloween Candy Magic Pet and release_year: 2021
Data for 'The Halloween Candy Magic Pet' inserted successfully.

Inserting row with title: The Evil Next Door and release_year: 2020
Data for 'The Evil Next Door' inserted successfully.

Inserting row with title: The Next Thing You Eat and release_year: 2021
Data for 'The Next Thing You Eat' inserted successfully.

Inserting row with title: Queens and release_year: 2021
Data for 'Queens' inserted successfully.

Inserting row with title: The Bachelorette and release_year: 2003
Data for 'The Bachelorette' inserted successfully.

Inserting row with title: The Real Queens of Hip-Hop: The Women Who Changed the Game and release_year: 2021
Data for 'The Real Queens of Hip-Hop: The Women Who Changed the Game' inserted successfully.

Inserting row with title: Dream Horse and release_year: 2020
Data for 'Dream Horse' inserted successfully.

Inserting row with title: Out of the Shadows: The Man Behind the Steele Dossier and release_year: 2021
Data for 'Out of the Shadows: The Man Behind the Steele Dossier' inserted successfully.

Inserting row with title: Wakefield and release_year: 2021
Data for 'Wakefield' inserted successfully.

Inserting row with title: Home Sweet Home and release_year: 2021
Data for 'Home Sweet Home' inserted successfully.

Inserting row with title: Showtime Championship Boxing: Lopez vs. Salido (R) and release_year: 2011
Data for 'Showtime Championship Boxing: Lopez vs. Salido (R)' inserted successfully.

Inserting row with title: Showtime Championship Boxing: Wilder vs. Molina and release_year: 2015
Data for 'Showtime Championship Boxing: Wilder vs. Molina' inserted successfully.

Inserting row with title: America's Book of Secrets and release_year: 2012
Data for 'America's Book of Secrets' inserted successfully.

Inserting row with title: Beyond Oak Island and release_year: 2020
Data for 'Beyond Oak Island' inserted successfully.

Inserting row with title: Beyond Scared Straight and release_year: 2011
Data for 'Beyond Scared Straight' inserted successfully.

Inserting row with title: Cheer Camp Killer and release_year: 2020
Data for 'Cheer Camp Killer' inserted successfully.

Inserting row with title: Hoarders and release_year: 2009
Data for 'Hoarders' inserted successfully.

Inserting row with title: Little Women: Atlanta and release_year: 2016
Data for 'Little Women: Atlanta' inserted successfully.

Inserting row with title: Marrying Millions and release_year: 2019
Data for 'Marrying Millions' inserted successfully.

Inserting row with title: Nightwatch and release_year: 2015
Data for 'Nightwatch' inserted successfully.

Inserting row with title: Seven Year Switch and release_year: 2017
Data for 'Seven Year Switch' inserted successfully.

Inserting row with title: Sleepwalker and release_year: 2017
Data for 'Sleepwalker' inserted successfully.

Inserting row with title: Swamp People and release_year: 2010
Data for 'Swamp People' inserted successfully.

Inserting row with title: Unsolved and release_year: 2019
Data for 'Unsolved' inserted successfully.

Inserting row with title: Acapulco Shore and release_year: 2014
Data for 'Acapulco Shore' inserted successfully.

Inserting row with title: Catfish México and release_year: 2018
Data for 'Catfish México' inserted successfully.

Inserting row with title: Censor and release_year: 2021
Data for 'Censor' inserted successfully.

Inserting row with title: Dani Who? and release_year: 2019
Data for 'Dani Who?' inserted successfully.

Inserting row with title: La Culpa es de Cortés and release_year: 2017
Data for 'La Culpa es de Cortés' inserted successfully.

Inserting row with title: Out of Death and release_year: 2021
Data for 'Out of Death' inserted successfully.

Inserting row with title: The Real Housewives of Orange County and release_year: 2006
Data for 'The Real Housewives of Orange County' inserted successfully.

Inserting row with title: Why Not Us and release_year: 2021
Data for 'Why Not Us' inserted successfully.

Inserting row with title: BELLATOR MMA: Kongo vs. Johnson 2 and release_year: 2020
Data for 'BELLATOR MMA: Kongo vs. Johnson 2' inserted successfully.

Inserting row with title: CHIPS and release_year: 2017
Data for 'CHIPS' inserted successfully.

Inserting row with title: Dopesick and release_year: 2021
Data for 'Dopesick' inserted successfully.

Inserting row with title: In the Crease and release_year: 2020
Data for 'In the Crease' inserted successfully.

Inserting row with title: Champaign, Ill and release_year: 2018
Data for 'Champaign, Ill' inserted successfully.

Inserting row with title: The Loneliest Whale: The Search for 52 and release_year: 2021
Data for 'The Loneliest Whale: The Search for 52' inserted successfully.

Inserting row with title: Gunda and release_year: 2020
Data for 'Gunda' inserted successfully.

Inserting row with title: Buried and release_year: 2021
Data for 'Buried' inserted successfully.

Inserting row with title: Demon Slayer Kimetsu No Yaiba and release_year: 2019
Data for 'Demon Slayer Kimetsu No Yaiba' inserted successfully.

Inserting row with title: G.I. Joe: Retaliation and release_year: 2013
Data for 'G.I. Joe: Retaliation' inserted successfully.

Inserting row with title: Rogue Hostage and release_year: 2021
Data for 'Rogue Hostage' inserted successfully.

Inserting row with title: Roots Less Traveled and release_year: 2020
Data for 'Roots Less Traveled' inserted successfully.

Inserting row with title: Shark Tank and release_year: 2009
Data for 'Shark Tank' inserted successfully.

Inserting row with title: Yashahime: Princess Half-Demon and release_year: 2020
Data for 'Yashahime: Princess Half-Demon' inserted successfully.

Inserting row with title: General Hospital and release_year: 1963
Data for 'General Hospital' inserted successfully.

Inserting row with title: Jacinta and release_year: 2021
Data for 'Jacinta' inserted successfully.

Inserting row with title: ABC News Live Prime with Linsey Davis and release_year: 2021
Data for 'ABC News Live Prime with Linsey Davis' inserted successfully.

Inserting row with title: Baker's Dozen and release_year: 2021
Data for 'Baker's Dozen' inserted successfully.

Inserting row with title: FIFA World Cup 2022 Qualifying and release_year: 2019
Data for 'FIFA World Cup 2022 Qualifying' inserted successfully.

Inserting row with title: BELLATOR MMA 257: Nemkov vs. Davis 2 (R) and release_year: 2021
Data for 'BELLATOR MMA 257: Nemkov vs. Davis 2 (R)' inserted successfully.

Inserting row with title: BELLATOR MMA: Davis vs. Nemkov and release_year: 2018
Data for 'BELLATOR MMA: Davis vs. Nemkov' inserted successfully.

Inserting row with title: Castle and release_year: 2009
Data for 'Castle' inserted successfully.

Inserting row with title: The Hills Presents: Speidi's Wedding Unveiled and release_year: 2009
Data for 'The Hills Presents: Speidi's Wedding Unveiled' inserted successfully.

Inserting row with title: America's Funniest Home Videos and release_year: 1981
Data for 'America's Funniest Home Videos' inserted successfully.

Inserting row with title: Maggie's Plan and release_year: 2015
Data for 'Maggie's Plan' inserted successfully.

Inserting row with title: The Bradshaw Bunch and release_year: 2020
Data for 'The Bradshaw Bunch' inserted successfully.

Inserting row with title: The Program and release_year: 1993
Data for 'The Program' inserted successfully.

Inserting row with title: Unfaithful and release_year: 2002
Data for 'Unfaithful' inserted successfully.

Inserting row with title: Finding Your Feet and release_year: 2017
Data for 'Finding Your Feet' inserted successfully.

Inserting row with title: Pacific Airshow and release_year: 2021
Data for 'Pacific Airshow' inserted successfully.

Inserting row with title: Saturday Night Live and release_year: 1975
Data for 'Saturday Night Live' inserted successfully.

Inserting row with title: College Swimming & Diving and release_year: 2005
Data for 'College Swimming & Diving' inserted successfully.

Inserting row with title: Men's College Hockey and release_year: 2000
Data for 'Men's College Hockey' inserted successfully.

Inserting row with title: The Most Magical Story On Earth: 50 Years of Walt Disney World and release_year: 2021
Data for 'The Most Magical Story On Earth: 50 Years of Walt Disney World' inserted successfully.

Inserting row with title: A.I.: Artificial Intelligence and release_year: 2001
Data for 'A.I.: Artificial Intelligence' inserted successfully.

Inserting row with title: Air Force One and release_year: 1997
Data for 'Air Force One' inserted successfully.

Inserting row with title: Ali and release_year: 2001
Data for 'Ali' inserted successfully.

Inserting row with title: Asylum and release_year: 2021
Data for 'Asylum' inserted successfully.

Inserting row with title: Big Sky and release_year: 2020
Data for 'Big Sky' inserted successfully.

Inserting row with title: Bite Size Halloween and release_year: 2020
Data for 'Bite Size Halloween' inserted successfully.

Inserting row with title: Blippi's Spooky Spell Halloween and release_year: 2021
Data for 'Blippi's Spooky Spell Halloween' inserted successfully.

Inserting row with title: Boxcar Bertha and release_year: 1972
Data for 'Boxcar Bertha' inserted successfully.

Inserting row with title: Cake and release_year: 2019
Data for 'Cake' inserted successfully.

Inserting row with title: Cedar Rapids and release_year: 2011
Data for 'Cedar Rapids' inserted successfully.

Inserting row with title: Chasing Papi and release_year: 2003
Data for 'Chasing Papi' inserted successfully.

Inserting row with title: Class and release_year: 1983
Data for 'Class' inserted successfully.

Inserting row with title: Clifford and release_year: 1994
Data for 'Clifford' inserted successfully.

Inserting row with title: Clockstoppers and release_year: 2002
Data for 'Clockstoppers' inserted successfully.

Inserting row with title: Code 46 and release_year: 2004
Data for 'Code 46' inserted successfully.

Inserting row with title: Crimson Tide and release_year: 1995
Data for 'Crimson Tide' inserted successfully.

Inserting row with title: Date Night Extended Version and release_year: 2010
Data for 'Date Night Extended Version' inserted successfully.

Inserting row with title: Dead of Winter and release_year: 1987
Data for 'Dead of Winter' inserted successfully.

Inserting row with title: Diary of a Wimpy Kid: Rodrick Rules and release_year: 2011
Data for 'Diary of a Wimpy Kid: Rodrick Rules' inserted successfully.

Inserting row with title: Double, Double, Toil and Trouble and release_year: 1993
Data for 'Double, Double, Toil and Trouble' inserted successfully.

Inserting row with title: Dr. No and release_year: 1962
Data for 'Dr. No' inserted successfully.

Inserting row with title: Edge of the World and release_year: 2021
Data for 'Edge of the World' inserted successfully.

Inserting row with title: Escape from Alcatraz and release_year: 1979
Data for 'Escape from Alcatraz' inserted successfully.

Inserting row with title: Exorcist: The Beginning and release_year: 2004
Data for 'Exorcist: The Beginning' inserted successfully.

Inserting row with title: Flatliners and release_year: 1990
Data for 'Flatliners' inserted successfully.

Inserting row with title: From Russia With Love and release_year: 1964
Data for 'From Russia With Love' inserted successfully.

Inserting row with title: GoldenEye and release_year: 1995
Data for 'GoldenEye' inserted successfully.

Inserting row with title: Goldfinger and release_year: 1965
Data for 'Goldfinger' inserted successfully.

Inserting row with title: Happy Feet and release_year: 2006
Data for 'Happy Feet' inserted successfully.

Inserting row with title: Happy Feet Two and release_year: 2011
Data for 'Happy Feet Two' inserted successfully.

Inserting row with title: House of Games and release_year: 1987
Data for 'House of Games' inserted successfully.

Inserting row with title: Intersection and release_year: 1994
Data for 'Intersection' inserted successfully.

Inserting row with title: License to Kill and release_year: 1989
Data for 'License to Kill' inserted successfully.

Inserting row with title: Light It Up and release_year: 1999
Data for 'Light It Up' inserted successfully.

Inserting row with title: Lost In Space and release_year: 1998
Data for 'Lost In Space' inserted successfully.

Inserting row with title: Mad Max and release_year: 1979
Data for 'Mad Max' inserted successfully.

Inserting row with title: Madhouse and release_year: 2004
Data for 'Madhouse' inserted successfully.

Inserting row with title: Maze and release_year: 2017
Data for 'Maze' inserted successfully.

Inserting row with title: My Best Friend's Wedding and release_year: 1997
Data for 'My Best Friend's Wedding' inserted successfully.

Inserting row with title: Peeples and release_year: 2013
Data for 'Peeples' inserted successfully.

Inserting row with title: Queen of the Damned and release_year: 2002
Data for 'Queen of the Damned' inserted successfully.

Inserting row with title: Racing With the Moon and release_year: 1984
Data for 'Racing With the Moon' inserted successfully.

Inserting row with title: Remo Williams: The Adventure Begins and release_year: 1985
Data for 'Remo Williams: The Adventure Begins' inserted successfully.

Inserting row with title: Resident Evil: Retribution and release_year: 2012
Data for 'Resident Evil: Retribution' inserted successfully.

Inserting row with title: Rushmore and release_year: 1998
Data for 'Rushmore' inserted successfully.

Inserting row with title: SCB: Calzaghe vs. Lacy and release_year: 2006
Data for 'SCB: Calzaghe vs. Lacy' inserted successfully.

Inserting row with title: Signs and release_year: 2002
Data for 'Signs' inserted successfully.

Inserting row with title: Sleepless in Seattle and release_year: 1993
Data for 'Sleepless in Seattle' inserted successfully.

Inserting row with title: Snatch and release_year: 2000
Data for 'Snatch' inserted successfully.

Inserting row with title: Species and release_year: 1995
Data for 'Species' inserted successfully.

Inserting row with title: Species II and release_year: 1998
Data for 'Species II' inserted successfully.

Inserting row with title: Species III and release_year: 2004
Data for 'Species III' inserted successfully.

Inserting row with title: Species: The Awakening and release_year: 2007
Data for 'Species: The Awakening' inserted successfully.

Inserting row with title: Star Trek II: The Wrath of Khan and release_year: 1982
Data for 'Star Trek II: The Wrath of Khan' inserted successfully.

Inserting row with title: Star Trek III: The Search for Spock and release_year: 1984
Data for 'Star Trek III: The Search for Spock' inserted successfully.

Inserting row with title: Star Trek IV: The Voyage Home and release_year: 1986
Data for 'Star Trek IV: The Voyage Home' inserted successfully.

Inserting row with title: Star Trek V: The Final Frontier and release_year: 1989
Data for 'Star Trek V: The Final Frontier' inserted successfully.

Inserting row with title: Star Trek VI: The Undiscovered Country and release_year: 1991
Data for 'Star Trek VI: The Undiscovered Country' inserted successfully.

Inserting row with title: Star Trek VIII: First Contact and release_year: 1996
Data for 'Star Trek VIII: First Contact' inserted successfully.

Inserting row with title: Star Trek: Generations and release_year: 1994
Data for 'Star Trek: Generations' inserted successfully.

Inserting row with title: Star Trek: Insurrection and release_year: 1998
Data for 'Star Trek: Insurrection' inserted successfully.

Inserting row with title: Star Trek: Nemesis and release_year: 2002
Data for 'Star Trek: Nemesis' inserted successfully.

Inserting row with title: Star Trek: The Motion Picture and release_year: 1979
Data for 'Star Trek: The Motion Picture' inserted successfully.

Inserting row with title: Station 19 and release_year: 2018
Data for 'Station 19' inserted successfully.

Inserting row with title: Sweet Home Alabama and release_year: 2002
Data for 'Sweet Home Alabama' inserted successfully.

Inserting row with title: Sweet Land and release_year: 2005
Data for 'Sweet Land' inserted successfully.

Inserting row with title: The Extreme Adventures of Super Dave and release_year: 2000
Data for 'The Extreme Adventures of Super Dave' inserted successfully.

Inserting row with title: The Holiday and release_year: 2006
Data for 'The Holiday' inserted successfully.

Inserting row with title: The Hunger Games and release_year: 2012
Data for 'The Hunger Games' inserted successfully.

Inserting row with title: The Hunger Games: Catching Fire and release_year: 2013
Data for 'The Hunger Games: Catching Fire' inserted successfully.

Inserting row with title: The Hunger Games: Mockingjay, Part 1 and release_year: 2014
Data for 'The Hunger Games: Mockingjay, Part 1' inserted successfully.

Inserting row with title: The Hunger Games: Mockingjay, Part 2 and release_year: 2015
Data for 'The Hunger Games: Mockingjay, Part 2' inserted successfully.

Inserting row with title: The Mask of Zorro and release_year: 1998
Data for 'The Mask of Zorro' inserted successfully.

Inserting row with title: The O.C. and release_year: 2003
Data for 'The O.C.' inserted successfully.

Inserting row with title: The Perfect Holiday and release_year: 2007
Data for 'The Perfect Holiday' inserted successfully.

Inserting row with title: The Recruit and release_year: 2003
Data for 'The Recruit' inserted successfully.

Inserting row with title: The Rocky Horror Picture Show and release_year: 1975
Data for 'The Rocky Horror Picture Show' inserted successfully.

Inserting row with title: The Saint and release_year: 1997
Data for 'The Saint' inserted successfully.

Inserting row with title: The Spy Who Loved Me and release_year: 1977
Data for 'The Spy Who Loved Me' inserted successfully.

Inserting row with title: The Taking of Pelham 1 2 3 and release_year: 2009
Data for 'The Taking of Pelham 1 2 3' inserted successfully.

Inserting row with title: The Untouchables and release_year: 1987
Data for 'The Untouchables' inserted successfully.

Inserting row with title: The Village and release_year: 2004
Data for 'The Village' inserted successfully.

Inserting row with title: The Vow and release_year: 2012
Data for 'The Vow' inserted successfully.

Inserting row with title: Theater of Blood and release_year: 1973
Data for 'Theater of Blood' inserted successfully.

Inserting row with title: Total Recall and release_year: 2012
Data for 'Total Recall' inserted successfully.

Inserting row with title: Unforgettable and release_year: 2017
Data for 'Unforgettable' inserted successfully.

Inserting row with title: Victor Frankenstein and release_year: 2015
Data for 'Victor Frankenstein' inserted successfully.

Inserting row with title: Waitress and release_year: 2007
Data for 'Waitress' inserted successfully.

Inserting row with title: When A Man Loves A Woman and release_year: 1994
Data for 'When A Man Loves A Woman' inserted successfully.

Inserting row with title: Within and release_year: 2016
Data for 'Within' inserted successfully.

Inserting row with title: Wolves at the Door and release_year: 2016
Data for 'Wolves at the Door' inserted successfully.

Inserting row with title: Wrong Turn 2: Dead End and release_year: 2007
Data for 'Wrong Turn 2: Dead End' inserted successfully.


In [ ]:
display(df_failed_inserts)

In [13]:
cursor = conn.cursor()

# Function to update the database with missing values filled
def update_missing_values(row):
    try:
        # Extract the row data from the database using Title and Release Year
        cursor.execute("""
            SELECT * FROM movies_data WHERE title = %s AND release_year = %s
        """, (row["title"], row["release_year"]))
        
        db_row = cursor.fetchone()

        if db_row:
            # Convert fetched row into a dictionary
            columns = ["show_id", "type", "title", "director", "cast", "country", 
                       "date_added", "release_year", "rating", "duration", 
                       "listed_in", "description"]
            db_data = dict(zip(columns, db_row))

            # Compare each element and fill missing values
            updated_data = {}
            for col in columns:
                if pd.isna(row[col]) or row[col] is None:
                    updated_data[col] = db_data[col]  # Fill missing value from DB
                else:
                    updated_data[col] = row[col]  # Keep the original value if not missing
            
            # If any values were updated, modify the database
            update_query = """
                UPDATE movies_data
                SET show_id = %s, type = %s, director = %s, cast = %s, country = %s, 
                    date_added = %s, rating = %s, duration = %s, listed_in = %s, 
                    description = %s
                WHERE title = %s AND release_year = %s
            """
            cursor.execute(update_query, (
                updated_data["show_id"], updated_data["type"], updated_data["director"], 
                updated_data["cast"], updated_data["country"], updated_data["date_added"], 
                updated_data["rating"], updated_data["duration"], updated_data["listed_in"], 
                updated_data["description"], updated_data["title"], updated_data["release_year"]
            ))
            conn.commit()
            print(f"Updated missing values for: {row['title']} ({row['release_year']})")
        else:
            print(f"No matching record found in database for: {row['title']} ({row['release_year']})")

    except mysql.connector.Error as err:
        print(f"Error updating {row['title']} ({row['release_year']}): {err}")

# Loop through each row in the dataframe and process
for _, row in df_failed_inserts.iterrows():
    update_missing_values(row)

print("Data processing complete.")

Updated missing values for: Trolls: TrollsTopia (2020)
No matching record found in database for: Monos (2019)
Data processing complete.