We see that there are many missing values and they can be taken from the internet. I can proceed in that direction.

In [29]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import mysql.connector

In [30]:
df_netflix_movie_data = pd.read_csv('./Datasets/netflix_titles.csv', lineterminator = '\n')
df_prime_movie_data = pd.read_csv('./Datasets/amazon_prime_titles.csv', lineterminator = '\n')
df_disney_plus_movie_data = pd.read_csv('./Datasets/disney_plus_titles.csv', lineterminator = '\n')
df_hulu_movie_data = pd.read_csv('./Datasets/hulu_titles.csv', lineterminator = '\n')

In [31]:
missing_value_netflix = df_netflix_movie_data.isna().sum()
print(missing_value_netflix)

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [32]:
print("Number of records in Netflix DataFrame:", df_netflix_movie_data.shape[0])

Number of records in Netflix DataFrame: 8807

In [ ]:
missing_value_prime = df_prime_movie_data.isna().sum()
print(missing_value_prime)

In [ ]:
print("Number of records in Prime Video DataFrame:", df_prime_movie_data.shape[0])

In [ ]:
missing_value_disney_plus = df_disney_plus_movie_data.isna().sum()
print(missing_value_disney_plus)

In [ ]:
print("Number of records in Disney Plus DataFrame:", df_disney_plus_movie_data.shape[0])

In [13]:
missing_value_hulu = df_hulu_movie_data.isna().sum()
print(missing_value_hulu)

show_id            0
type               0
title              0
director        3070
cast            3073
country         1453
date_added        28
release_year       0
rating           520
duration         479
listed_in          0
description        4
dtype: int64

In [ ]:
print("Number of records in Hulu DataFrame:", df_hulu_movie_data.shape[0])

As we can see clearly, above only columns director, cast, country, date_added, rating, duration. Rather than deleting them. If we can get those values back in the dataset it would be best.
I can use information present on the website imdb to get the data and fill it. I can use web scrapping to get the data and fill it in the dataset.

But before that I can check data. One dataset row may have data of the for the other dataset missing row values. Let's first check for the

In [ ]:
print("Netflix DataFrame Column Data Types:")
print(df_netflix_movie_data.dtypes)

In [ ]:
print("\nPrime Video DataFrame Column Data Types:")
print(df_prime_movie_data.dtypes)

In [ ]:

print("\nDisney Plus DataFrame Column Data Types:")
print(df_disney_plus_movie_data.dtypes)

In [67]:
print("\nHulu DataFrame Column Data Types:")
print(df_hulu_movie_data.dtypes)

Hulu DataFrame Column Data Types:
show_id         string[python]
type            string[python]
title           string[python]
director        string[python]
cast            string[python]
country         string[python]
date_added      datetime64[ns]
release_year             Int64
rating          string[python]
duration        string[python]
listed_in       string[python]
description     string[python]
dtype: object

Okay I will be first converting the datatypes of the columns of the dataframes according to the requirement and then after that I will be tranferring data to the SQL. Through this I can ensure that there is no error while tranferring the data.

Why I want to transfer the data to SQL?
I currently want to fill the missing values of the columns director, cast, country, date_added, rating and duration in all datasets. But there are chances that missing value of 1 dataset might be present in another dataset. So for doing that in optimized manner I am using the SQL. 
Other approaches:

- I can loop through datasets to find values. But this approach will take most time as there are 4 datasets and time taken will get to O($n^4$). This approach is not great.
- I can use Hash tables for this but it will be take most of the memory for it. It would be better to go for Database as I would be taking it's help for data wrangling also.

In [33]:
dataframes = [df_netflix_movie_data, df_prime_movie_data, df_disney_plus_movie_data, df_hulu_movie_data]

In [34]:
for df in dataframes:
    df["show_id"] = df["show_id"].astype("string")  # Explicit string type
    df["type"] = df["type"].astype("string")
    df["title"] = df["title"].astype("string")
    df["director"] = df["director"].astype("string")
    df["cast"] = df["cast"].astype("string")  # Convert float64 to string
    df["country"] = df["country"].astype("string")
    df["date_added"] = pd.to_datetime(df["date_added"], errors="coerce")  # Convert to Date
    df["release_year"] = df["release_year"].astype("Int64")  # Explicitly use Int64
    df["rating"] = df["rating"].astype("string")
    df["duration"] = df["duration"].astype("string")
    df["listed_in"] = df["listed_in"].astype("string")
    df["description"] = df["description"].astype("string")

In [35]:
# Verify Data Types
for i, df in enumerate(dataframes, start=1):
    print(f"\nData Types for DataFrame {i}:\n", df.dtypes)

Data Types for DataFrame 1:
 show_id         string[python]
type            string[python]
title           string[python]
director        string[python]
cast            string[python]
country         string[python]
date_added      datetime64[ns]
release_year             Int64
rating          string[python]
duration        string[python]
listed_in       string[python]
description     string[python]
dtype: object

Data Types for DataFrame 2:
 show_id         string[python]
type            string[python]
title           string[python]
director        string[python]
cast            string[python]
country         string[python]
date_added      datetime64[ns]
release_year             Int64
rating          string[python]
duration        string[python]
listed_in       string[python]
description     string[python]
dtype: object

Data Types for DataFrame 3:
 show_id         string[python]
type            string[python]
title           string[python]
director        string[python]
cast            string[python]
country         string[python]
date_added      datetime64[ns]
release_year             Int64
rating          string[python]
duration        string[python]
listed_in       string[python]
description     string[python]
dtype: object

Data Types for DataFrame 4:
 show_id         string[python]
type            string[python]
title           string[python]
director        string[python]
cast            string[python]
country         string[python]
date_added      datetime64[ns]
release_year             Int64
rating          string[python]
duration        string[python]
listed_in       string[python]
description     string[python]
dtype: object

In [6]:
print("Netflix DataFrame Column Data Types:")
print(df_netflix_movie_data.dtypes)

Netflix DataFrame Column Data Types:
show_id         string[python]
type            string[python]
title           string[python]
director        string[python]
cast            string[python]
country         string[python]
date_added      datetime64[ns]
release_year             Int64
rating          string[python]
duration        string[python]
listed_in       string[python]
description     string[python]
dtype: object

In [7]:
df_netflix_movie_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,<NA>,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,<NA>,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",<NA>,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,<NA>,<NA>,<NA>,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,<NA>,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [8]:
df_hulu_movie_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,<NA>,<NA>,<NA>,2021-10-24,2021,TV-MA,<NA>,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,<NA>,<NA>,<NA>,2021-10-23,2020,<NA>,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,<NA>,<NA>,<NA>,2021-10-23,2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,<NA>,<NA>,<NA>,2021-10-22,2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,<NA>,<NA>,<NA>,2021-10-22,2021,<NA>,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [48]:
conn = mysql.connector.connect(
    host="127.0.0.1",
    user="Himanshu",
    password="Hustling@2000",
)
cursor = conn.cursor()

In [ ]:
cursor.execute("DROP DATABASE IF EXISTS movies_db")
conn.commit()

In [43]:
cursor.execute("CREATE DATABASE IF NOT EXISTS movies_db;")
cursor.close()
conn.close()

In [44]:
conn = mysql.connector.connect(
    host="localhost",
    user="Himanshu",
    password="Hustling@2000",
    database="movies_db"
)
cursor = conn.cursor()

In [45]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS movies_data (
        show_id VARCHAR(255),
        type VARCHAR(50),
        title VARCHAR(500),
        director VARCHAR(300),
        cast VARCHAR(2000),
        country VARCHAR(100),
        date_added DATE,
        release_year YEAR,
        rating VARCHAR(50),
        duration VARCHAR(100),
        listed_in VARCHAR(300),
        description TEXT,
        PRIMARY KEY (title, release_year)
    )
""")

Okay so the database has been created. But I have to make sure that all the data goes properly inside the database.

In [46]:
# List to store failed insertions due to duplication
failed_inserts = []

# Assuming you have already established a connection and cursor
cursor = conn.cursor()

# Insert each row, perform verification, and handle errors
for _, row in df.iterrows():
    try:
        # Convert NaN values to None, which can be handled by MySQL
        row = row.where(pd.notna(row), None)

        # Store the row data before insertion for later comparison
        temp_row = {
            "show_id": row["show_id"],
            "type": row["type"],
            "title": row["title"],
            "director": row["director"],
            "cast": row["cast"],
            "country": row["country"],
            "date_added": row["date_added"],
            "release_year": row["release_year"],
            "rating": row["rating"],
            "duration": row["duration"],
            "listed_in": row["listed_in"],
            "description": row["description"]
        }

        # Log the row that is about to be inserted
        print(f"Inserting row with title: {row['title']} and release_year: {row['release_year']}")

        # Insert data into the database
        insert_query = """
            INSERT INTO movies_data 
            (show_id, type, title, director, cast, country, date_added, release_year, 
             rating, duration, listed_in, description)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """
        cursor.execute(insert_query, (
            row["show_id"], row["type"], row["title"], row["director"],
            row["cast"], row["country"], row["date_added"], row["release_year"],
            row["rating"], row["duration"], row["listed_in"], row["description"]
        ))
        conn.commit()  # Commit the transaction

        # Log success
        print(f"Data for {row['title']} inserted successfully!")

        # Now, verify that the inserted data matches the original data
        cursor.execute(""" 
            SELECT * FROM movies_data WHERE title = %s AND release_year = %s
        """, (row["title"], row["release_year"]))
        
        inserted_data = cursor.fetchone()

        # Compare the inserted data with the original data
        if inserted_data:
            # Extract data and compare
            inserted_dict = dict(zip(
                ["show_id", "type", "title", "director", "cast", "country", 
                 "date_added", "release_year", "rating", "duration", 
                 "listed_in", "description"], inserted_data))

            if inserted_dict != temp_row:
                # If there is a mismatch, log the mismatch (store it in a separate DataFrame)
                mismatch_row = pd.DataFrame([temp_row])
                print(f"Mismatched Data: {mismatch_row}")
                # You can store it in a file or a different variable if needed
        else:
            print(f"No data found with title: {row['title']} and release_year: {row['release_year']}")

    except mysql.connector.Error as err:
        # If the row already exists (duplicate), capture it in the failed_inserts DataFrame
        error_code = err.errno
        print(f"Error occurred while inserting data: {err}")  # Print the error message
        print(f"Row causing the error: {row}")  # Print the row causing the error
        failed_inserts.append(row)  # Store the failed row
        break  # Stop execution for the current row and exit the loop

# After the loop, store the failed inserts in a DataFrame
if failed_inserts:
    df_failed_inserts = pd.DataFrame(failed_inserts)
    print("\nFailed Insertions due to duplicates or errors: ")
    print(df_failed_inserts)
else:
    print("\nAll rows inserted successfully without duplication errors.")

Inserting row with title: Ricky Velez: Here's Everything and release_year: 2021
Data for Ricky Velez: Here's Everything inserted successfully!
Mismatched Data:   show_id   type                           title director  cast country  \
0      s1  Movie  Ricky Velez: Here's Everything     None  None    None

  date_added  release_year rating duration         listed_in  \
0 2021-10-24          2021  TV-MA     None  Comedy, Stand Up

                                         description
0  ​Comedian Ricky Velez bares it all with his ho...
Inserting row with title: Silent Night and release_year: 2020
Data for Silent Night inserted successfully!
Mismatched Data:   show_id   type         title director  cast country date_added  \
0      s2  Movie  Silent Night     None  None    None 2021-10-23

   release_year rating duration               listed_in  \
0          2020   None   94 min  Crime, Drama, Thriller

                                         description
0  Mark, a low end South London hitman recently r...
Inserting row with title: The Marksman and release_year: 2021
Data for The Marksman inserted successfully!
Mismatched Data:   show_id   type         title director  cast country date_added  \
0      s3  Movie  The Marksman     None  None    None 2021-10-23

   release_year rating duration         listed_in  \
0          2021  PG-13  108 min  Action, Thriller

                                         description
0  A hardened Arizona rancher tries to protect an...
Inserting row with title: Gaia and release_year: 2021
Data for Gaia inserted successfully!
Mismatched Data:   show_id   type title director  cast country date_added  release_year rating  \
0      s4  Movie  Gaia     None  None    None 2021-10-22          2021      R

  duration listed_in                                        description
0   97 min    Horror  A forest ranger and two survivalists with a cu...
Inserting row with title: Settlers and release_year: 2021
Data for Settlers inserted successfully!
Mismatched Data:   show_id   type     title director  cast country date_added  release_year  \
0      s5  Movie  Settlers     None  None    None 2021-10-22          2021

  rating duration                  listed_in  \
0   None  104 min  Science Fiction, Thriller

                                         description
0  Mankind's earliest settlers on the Martian fro...
Inserting row with title: The Halloween Candy Magic Pet and release_year: 2021
Data for The Halloween Candy Magic Pet inserted successfully!
Mismatched Data:   show_id     type                          title director  cast country  \
0      s6  TV Show  The Halloween Candy Magic Pet     None  None    None

  date_added  release_year rating  duration     listed_in  \
0 2021-10-22          2021   None  1 Season  Family, Kids

                                         description
0  Join Mila and Morphle on a mystery-filled Hall...
Inserting row with title: The Evil Next Door and release_year: 2020
Data for The Evil Next Door inserted successfully!
Mismatched Data:   show_id   type               title director  cast country date_added  \
0      s7  Movie  The Evil Next Door     None  None    None 2021-10-21

   release_year rating duration         listed_in  \
0          2020   None   88 min  Horror, Thriller

                                         description
0  New to her role as a stepmom, a young woman mo...
Inserting row with title: The Next Thing You Eat and release_year: 2021
Data for The Next Thing You Eat inserted successfully!
Mismatched Data:   show_id     type                   title director  cast country date_added  \
0      s8  TV Show  The Next Thing You Eat     None  None    None 2021-10-21

   release_year rating  duration  \
0          2021   None  1 Season

                                           listed_in  \
0  Cooking & Food, Documentaries, Lifestyle & Cul...

                                         description
0  With the unique insights and experience of Ugl...
Inserting row with title: Queens and release_year: 2021
Data for Queens inserted successfully!
Mismatched Data:   show_id     type   title director  cast country date_added  release_year  \
0      s9  TV Show  Queens     None  None    None 2021-10-20          2021

  rating  duration     listed_in  \
0  TV-14  1 Season  Drama, Music

                                         description
0  Four women in their 40s reunite for a chance t...
Inserting row with title: The Bachelorette and release_year: 2003
Data for The Bachelorette inserted successfully!
Mismatched Data:   show_id     type             title director  cast        country date_added  \
0     s10  TV Show  The Bachelorette     None  None  United States 2021-10-20

   release_year rating   duration         listed_in  \
0          2003  TV-14  3 Seasons  Reality, Romance

                                         description
0  ABC's romance reality show lets one lucky lady...
Inserting row with title: The Real Queens of Hip-Hop: The Women Who Changed the Game and release_year: 2021
Data for The Real Queens of Hip-Hop: The Women Who Changed the Game inserted successfully!
Mismatched Data:   show_id     type                                              title  \
0     s11  TV Show  The Real Queens of Hip-Hop: The Women Who Chan...

  director  cast country date_added  release_year rating  duration  \
0     None  None    None 2021-10-19          2021   None  1 Season

     listed_in                                        description
0  Music, News  The ABC News special explores the inspiring ri...
Inserting row with title: Dream Horse and release_year: 2020
Data for Dream Horse inserted successfully!
Mismatched Data:   show_id   type        title director  cast country date_added  release_year  \
0     s12  Movie  Dream Horse     None  None    None 2021-10-18          2020

  rating duration      listed_in  \
0     PG  113 min  Comedy, Drama

                                         description
0  The film tells the inspiring true story of a s...
Inserting row with title: Out of the Shadows: The Man Behind the Steele Dossier and release_year: 2021
Data for Out of the Shadows: The Man Behind the Steele Dossier inserted successfully!
Mismatched Data:   show_id   type                                              title director  \
0     s13  Movie  Out of the Shadows: The Man Behind the Steele ...     None

   cast country date_added  release_year rating duration listed_in  \
0  None    None 2021-10-18          2021   None     None      News

                                         description
0  George Stephanopoulos sits down with former MI...
Inserting row with title: Wakefield and release_year: 2021
Data for Wakefield inserted successfully!
Mismatched Data:   show_id     type      title director  cast country date_added  release_year  \
0     s14  TV Show  Wakefield     None  None    None 2021-10-18          2021

  rating  duration       listed_in  \
0   None  1 Season  Drama, Mystery

                                         description
0  With a gift for soothing the afflicted and rea...
Inserting row with title: Home Sweet Home and release_year: 2021
Data for Home Sweet Home inserted successfully!
Mismatched Data:   show_id     type            title director  cast country date_added  \
0     s15  TV Show  Home Sweet Home     None  None    None 2021-10-16

   release_year rating  duration listed_in  \
0          2021  TV-PG  1 Season   Reality

                                         description
0  Real families of different backgrounds experie...
Inserting row with title: Showtime Championship Boxing: Lopez vs. Salido (R) and release_year: 2011
Data for Showtime Championship Boxing: Lopez vs. Salido (R) inserted successfully!
Mismatched Data:   show_id   type                                              title director  \
0     s16  Movie  Showtime Championship Boxing: Lopez vs. Salido...     None

   cast country date_added  release_year rating duration listed_in  \
0  None    None 2021-10-16          2011   None     None    Sports

                                         description
0  Juan Manuel Lopez vs. Orlando Salido for the W...
Inserting row with title: Showtime Championship Boxing: Wilder vs. Molina and release_year: 2015
Data for Showtime Championship Boxing: Wilder vs. Molina inserted successfully!
Mismatched Data:   show_id     type                                            title director  \
0     s17  TV Show  Showtime Championship Boxing: Wilder vs. Molina     None

   cast country date_added  release_year rating  duration listed_in  \
0  None    None 2021-10-16          2015  TV-14  1 Season    Sports

                                         description
0  Champion Deontay Wilder vs. Eric Molina. Live ...
Inserting row with title: America's Book of Secrets and release_year: 2012
Data for America's Book of Secrets inserted successfully!
Mismatched Data:   show_id     type                      title director  cast        country  \
0     s18  TV Show  America's Book of Secrets     None  None  United States

  date_added  release_year rating  duration               listed_in  \
0 2021-10-15          2012  TV-14  1 Season  Documentaries, History

                                         description
0  America's story can be told in many ways. Whil...
Inserting row with title: Beyond Oak Island and release_year: 2020
Data for Beyond Oak Island inserted successfully!
Mismatched Data:   show_id     type              title director  cast country date_added  \
0     s19  TV Show  Beyond Oak Island     None  None    None 2021-10-15

   release_year rating  duration         listed_in  \
0          2020  TV-PG  1 Season  History, Reality

                                         description
0  From pirates such as Blackbeard and outlaws li...
Inserting row with title: Beyond Scared Straight and release_year: 2011
Data for Beyond Scared Straight inserted successfully!
Mismatched Data:   show_id     type                   title director  cast        country  \
0     s20  TV Show  Beyond Scared Straight     None  None  United States

  date_added  release_year rating   duration                     listed_in  \
0 2021-10-15          2011  TV-14  6 Seasons  Documentaries, Reality, Teen

                                         description
0  Beyond Scared Straight profiles the new approa...
Inserting row with title: Cheer Camp Killer and release_year: 2020
Data for Cheer Camp Killer inserted successfully!
Mismatched Data:   show_id   type              title director  cast country date_added  \
0     s21  Movie  Cheer Camp Killer     None  None    None 2021-10-15

   release_year rating duration listed_in  \
0          2020  TV-14   87 min  Thriller

                                         description
0  Camp queen bee Victoria does not take kindly t...
Inserting row with title: Hoarders and release_year: 2009
Data for Hoarders inserted successfully!
Mismatched Data:   show_id     type     title director  cast        country date_added  \
0     s22  TV Show  Hoarders     None  None  United States 2021-10-15

   release_year rating   duration  \
0          2009  TV-PG  7 Seasons

                                         listed_in  \
0  Health & Wellness, Lifestyle & Culture, Reality

                                         description
0  Each 60-minute episode of Hoarders is a fascin...
Inserting row with title: Little Women: Atlanta and release_year: 2016
Data for Little Women: Atlanta inserted successfully!
Mismatched Data:   show_id     type                  title director  cast        country  \
0     s23  TV Show  Little Women: Atlanta     None  None  United States

  date_added  release_year rating   duration               listed_in  \
0 2021-10-15          2016  TV-14  2 Seasons  Black Stories, Reality

                                         description
0  In Little Women: Atlanta, the little ladies tu...
Inserting row with title: Marrying Millions and release_year: 2019
Data for Marrying Millions inserted successfully!
Mismatched Data:   show_id     type              title director  cast country date_added  \
0     s24  TV Show  Marrying Millions     None  None    None 2021-10-15

   release_year rating   duration                        listed_in  \
0          2019  TV-14  2 Seasons  Documentaries, Reality, Romance

                                         description
0  Marrying Millions follows six couples who are ...
Inserting row with title: Nightwatch and release_year: 2015
Data for Nightwatch inserted successfully!
Mismatched Data:   show_id     type       title director  cast        country date_added  \
0     s25  TV Show  Nightwatch     None  None  United States 2021-10-15

   release_year rating   duration                      listed_in  \
0          2015  TV-14  4 Seasons  Documentaries, Drama, Mystery

                                         description
0  "Nightwatch" follows the dangerous stretch of ...
Inserting row with title: Seven Year Switch and release_year: 2017
Data for Seven Year Switch inserted successfully!
Mismatched Data:   show_id     type              title director  cast country date_added  \
0     s26  TV Show  Seven Year Switch     None  None    None 2021-10-15

   release_year rating  duration listed_in  \
0          2017  TV-14  1 Season   Reality

                                         description
0  In Seven Year Switch, four couples at a crossr...
Inserting row with title: Sleepwalker and release_year: 2017
Data for Sleepwalker inserted successfully!
Mismatched Data:   show_id   type        title director  cast country date_added  release_year  \
0     s27  Movie  Sleepwalker     None  None    None 2021-10-15          2017

  rating duration listed_in                                        description
0  TV-14   88 min  Thriller  A graduate student plagued by bouts of sleepwa...
Inserting row with title: Swamp People and release_year: 2010
Data for Swamp People inserted successfully!
Mismatched Data:   show_id     type         title director  cast        country date_added  \
0     s28  TV Show  Swamp People     None  None  United States 2021-10-15

   release_year rating   duration               listed_in  \
0          2010  TV-PG  3 Seasons  Documentaries, Reality

                                         description
0  Deep in the heart of Louisiana lies America's ...
Inserting row with title: Unsolved and release_year: 2019
Data for Unsolved inserted successfully!
Mismatched Data:   show_id     type     title director  cast country date_added  release_year  \
0     s29  TV Show  Unsolved     None  None    None 2021-10-15          2019

  rating   duration            listed_in  \
0   None  2 Seasons  Documentaries, News

                                         description
0  More than 750 people are missing from Houston ...
Inserting row with title: Acapulco Shore and release_year: 2014
Data for Acapulco Shore inserted successfully!
Mismatched Data:   show_id     type           title director  cast country date_added  \
0     s30  TV Show  Acapulco Shore     None  None    None 2021-10-14

   release_year rating   duration        listed_in  \
0          2014  TV-14  3 Seasons  Latino, Reality

                                         description
0  A group of young Mexicans live together and sh...
Inserting row with title: Catfish México and release_year: 2018
Data for Catfish México inserted successfully!
Mismatched Data:   show_id     type           title director  cast country date_added  \
0     s31  TV Show  Catfish México     None  None    None 2021-10-14

   release_year rating  duration        listed_in  \
0          2018   None  1 Season  Latino, Reality

                                         description
0  Porque sabemos que no es fácil encontrar el am...
Inserting row with title: Censor and release_year: 2021
Data for Censor inserted successfully!
Mismatched Data:   show_id   type   title director  cast country date_added  release_year  \
0     s32  Movie  Censor     None  None    None 2021-10-14          2021

  rating duration listed_in                                        description
0   None   84 min    Horror  A film censor is assigned to review a disturbi...
Inserting row with title: Dani Who? and release_year: 2019
Data for Dani Who? inserted successfully!
Mismatched Data:   show_id     type      title director  cast country date_added  release_year  \
0     s33  TV Show  Dani Who?     None  None    None 2021-10-14          2019

  rating  duration                         listed_in  \
0   None  1 Season  Latino, Mystery, Science Fiction

                                         description
0  A girl disappears in the town of San Gregorio ...
Inserting row with title: La Culpa es de Cortés and release_year: 2017
Data for La Culpa es de Cortés inserted successfully!
Mismatched Data:   show_id     type                  title director  cast country date_added  \
0     s34  TV Show  La Culpa es de Cortés     None  None    None 2021-10-14

   release_year rating   duration       listed_in  \
0          2017   None  4 Seasons  Comedy, Latino

                                         description
0  Cinco reconocidos comediantes mexicanos, de di...
Inserting row with title: Out of Death and release_year: 2021
Data for Out of Death inserted successfully!
Mismatched Data:   show_id   type         title director  cast country date_added  \
0     s35  Movie  Out of Death     None  None    None 2021-10-14

   release_year     rating duration listed_in  \
0          2021  NOT RATED   95 min  Thriller

                                         description
0  When Shannon (Jaime King) sets out on a hike t...
Inserting row with title: The Real Housewives of Orange County and release_year: 2006
Data for The Real Housewives of Orange County inserted successfully!
Mismatched Data:   show_id     type                                 title director  cast  \
0     s36  TV Show  The Real Housewives of Orange County     None  None

         country date_added  release_year rating    duration listed_in  \
0  United States 2021-10-14          2006  TV-14  15 Seasons   Reality

                                         description
0  The O.C. ladies are back as the series goes be...
Inserting row with title: Why Not Us and release_year: 2021
Data for Why Not Us inserted successfully!
Mismatched Data:   show_id     type       title director  cast country date_added  \
0     s37  TV Show  Why Not Us     None  None    None 2021-10-14

   release_year rating   duration              listed_in  \
0          2021   None  2 Seasons  Documentaries, Sports

                                         description
0  All-access to the North Carolina Central Unive...
Inserting row with title: BELLATOR MMA: Kongo vs. Johnson 2 and release_year: 2020
Data for BELLATOR MMA: Kongo vs. Johnson 2 inserted successfully!
Mismatched Data:   show_id   type                              title director  cast country  \
0     s38  Movie  BELLATOR MMA: Kongo vs. Johnson 2     None  None    None

  date_added  release_year rating duration listed_in  \
0 2021-10-13          2020   None     None    Sports

                                         description
0  Cheick Kongo vs. Tim Johnson battle in a histo...
Inserting row with title: CHIPS and release_year: 2017
Data for CHIPS inserted successfully!
Mismatched Data:   show_id   type  title director  cast country date_added  release_year  \
0     s39  Movie  CHIPS     None  None    None 2021-10-13          2017

  rating duration                  listed_in  \
0      R  101 min  Action, Adventure, Comedy

                                         description
0  Ponch and Jon are together again in this hilar...
Inserting row with title: Dopesick and release_year: 2021
Data for Dopesick inserted successfully!
Mismatched Data:   show_id     type     title director  cast country date_added  release_year  \
0     s40  TV Show  Dopesick     None  None    None 2021-10-13          2021


KeyboardInterrupt:

In [15]:
print(failed_inserts)

[show_id                                                        s1
type                                                        Movie
title                              Ricky Velez: Here's Everything
director                                                     None
cast                                                         None
country                                                      None
date_added                                    2021-10-24 00:00:00
release_year                                                 2021
rating                                                      TV-MA
duration                                                     None
listed_in                                        Comedy, Stand Up
description     ​Comedian Ricky Velez bares it all with his ho...
Name: 0, dtype: object]